h3 { 
    color: rgb(140, 65, 198);
    font-size: 50px;
}

p {
    color: rgb(69, 69, 148);
    text-align: justify;
}

body {
    background: rgb(64, 141, 141);
}

.ratakanan {
    text-align: right;
    color: rgb(214, 116, 83);
    font-weight: bold;
}

.kotaku1 {
    border-style: solid;
    border-width: 3px;
}